<!DOCTYPE html>
<html ng-app="weatherApp">
<head>

	<base href="/">
	
    <!-- CSS (load bootstrap) -->
    <link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	
    <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular-route.min.js"></script>
	
	<script src="app/app.js"></script>
	<script src="app/config.js"></script>
	<script src="app/appCtrl.js"></script>
	<script src="app/service.js"></script>
</head>
<body>

<!-- MAIN CONTENT -->
<div class="container">

    <!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
    <div ng-view></div>

</div>

</body>
</html>